* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
}

#root {
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
}

.div {
    border: 1px solid black;
    height: 75px;
}

p {
    margin: 2px;
}

.left {
    align-self: flex-start;
    text-align: left;
    background-color: #c5a2a2;
    max-width: 40%;
}

.right {
    align-self: flex-end;
    text-align: right;
    background-color: rgb(177, 154, 212);
    max-width: 40%;
}

.send-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 90%;
    height: 30px;
    margin: 25px auto;
}

#send {
    border: 1px solid red;
    width: 90%;
    height: 100%;
}