body {
    margin: 0;
    padding: 0;
}


/* START: Task 1 Styles */

#tableTask1 {
    width: 50%;
    margin: 0 auto;
}

#tableTask1 tr {
    height: 100px;
}

#tableTask1 tr td {
    border: 1px solid #000;
    text-align: center;
    background-color: white;
}


/* END: Task 1 Styles */


/* START: Task 2 Styles */

#task2 form {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#task2 form input {
    width: 60%;
    height: 25px;
    border: 2px solid black;
    margin-right: 20px;
    padding: 10px 30px;
}

#task2 form button {
    height: 45px;
    width: 10%;
    background-color: #e5e5e5;
}

.error,
.success {
    color: #fff;
    width: 50%;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.error {
    background-color: #ce5f5f;
    display: none;
}

.success {
    background-color: #3ca538;
    display: none;
}


/* END: Task 2 Styles */


/* START: Task 3 Styles */

#task3 {
    width: 100%;
}

#court {
    margin: 0 auto;
    width: 600px;
    height: 330px;
    background-image: url(./assets//court.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./assets/ball.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 145px;
    left: 280px;
}

.scoreDiv {
    width: 50%;
    margin: 20px auto;
}

.scoreDiv.hidden {
    opacity: 0;
}

.teamScore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#teamA,
#teamB {
    margin: 10px;
}

#message {
    text-align: center;
    font-weight: bold;
}


/* END: Task 3 Styles */