* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: $main-bg-color;
}

@mixin buttons {
    background-color: $button-bg-color;
    padding: 10px 30px;
    color: #fff;
    border: transparent;
    font-size: 0.75em;
    border-radius: 2px;
}

@mixin links {
    text-decoration: underline;
    color: #fff;
    font-size: 0.88em;
    margin-left: 105px;
}

%landing-logo {
    color: map-get($colors, text);
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    img {
        width: 30px;
    }
    p {
        font-size: 1em;
        font-weight: bold;
        margin-left: 10px;
        line-height: 1em;
    }
    span {
        display: block;
        font-weight: normal;
        font-size: 0.5em;
        margin-left: 5px;
    }
}

.header {
    width: 100%;
    background: $header-img;
    background-repeat: no-repeat;
    background-size: 100% 550px;
    font-family: $font-hind;
    color: map-get($colors, text);
    padding-bottom: 125px;
    border-radius: 0px 0px 450px 0px / 0px 0px 220px 0px;
    .header-wrap {
        width: 81%;
        margin: 0 auto;
        %margin {
            margin-bottom: 35px;
        }
        .landing-logo {
            @extend %landing-logo;
        }
        .header_heading {
            font-size: 3em;
            font-weight: bold;
            width: 40%;
            line-height: 1em;
            @extend %margin;
            position: relative;
        }
        .header_heading::after {
            position: absolute;
            display: block;
            content: "awesome";
            background-color: map-get($colors, mark);
            bottom: 0;
        }
        .header_text {
            font-family: $font-header-text;
            white-space: pre-line;
            line-height: 1.5em;
            font-size: 0.75em;
            font-weight: lighter;
            @extend %margin;
        }
        .header_button {
            @include buttons();
        }
        .header_button+a {
            @include links();
        }
    }
}

.section {
    background-color: $main-bg-color;
    width: 58%;
    margin: 0 auto;
    font-family: $font-source;
    position: relative;
    .section_text {
        margin: 22px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        color: map-get($colors, text);
        position: relative;
    }
    .section_text::after {
        position: absolute;
        content: "adventure";
        background-color: map-get($colors, mark);
        bottom: 0;
        right: 8.05em;
    }
    .section_card_wrap {
        .section_card {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border-radius: 3px;
            margin-bottom: 25px;
            padding: 10px;
            background-color: $block-bg-color;
            color: map-get($colors, block);
            .section_card_img {
                border-radius: 3px;
                width: 40%;
            }
            .section_card_right_container {
                color: map-get($colors, block);
                width: 60%;
                margin: 0 auto;
                .section_card_heading {
                    text-align: center;
                    font-size: 1.05em;
                    font-weight: bold;
                    color: #fff;
                    margin: 30px 0;
                }
                .section_card_text {
                    font-family: $font-section-text;
                    padding: 0 55px;
                    font-size: 0.72em;
                }
                .section_link {
                    font-family: $font-source;
                    margin-left: 42%;
                    font-size: 0.7em;
                    color: map-get($colors, block);
                }
            }
        }
    }
    .section_card:last-child {
        margin-bottom: 160px;
    }
    .section_banner {
        position: absolute;
        width: 109%;
        background: $gradient;
        border-radius: 3px;
        margin: -5%;
        bottom: -170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15%;
        .section_banner_text_wrap {
            padding: 20px 0;
            .section_banner_heading {
                color: map-get($colors, text);
                font-size: 1.35em;
                font-weight: bold;
                position: relative;
            }
            .section_banner_heading::after {
                position: absolute;
                content: "start";
                background-color: map-get($colors, mark);
                bottom: 0;
                right: 7.5em;
            }
            .section_banner_text {
                color: map-get($colors, block);
                font-size: 0.75em;
                font-weight: normal;
            }
        }
        .section_banner_button {
            @include buttons();
        }
    }
}

.footer {
    background-color: $footer-color;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 40px;
    .footer-wrap {
        margin: 0 auto;
        width: 81%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        font-family: $font-hind;
        color: map-get($colors, block);
        font-size: 0.72em;
        .footer_logo {
            @extend %landing-logo;
            color: map-get($colors, block);
            font-size: 1.5em;
            padding-top: 0;
            margin-bottom: 0;
            align-self: flex-end;
        }
        .footer_text {
            width: 20%;
            font-size: 0.75em;
        }
        .footer-cr {
            padding-bottom: 10px;
            padding-right: 10px;
        }
    }
}