$font-hind: 'Hind',
sans-serif;
$font-source: 'Source Sans Pro',
sans-serif;
$font-fresca: 'Fresca',
sans-serif;
$font-header-text: 'Fresca',
sans-serif;
$font-section-text: 'Fresca',
sans-serif;
$header-img: url('../img/m-h-night.jpg');
$colors: ( text: #fff,
block: #C3CBCF,
mark: #FF4E33);
$main-bg-color: #21232E;
$footer-color: #3B3F50;
$block-bg-color: #3B3F50;
$button-bg-color: #E3AC00;
$gradient: linear-gradient(to right,
#DEA505 0%,
#963150 100%);