$font-hind: 'Hind',
sans-serif;
$font-source: 'Source Sans Pro',
sans-serif;
$font-fresca: 'Fresca',
sans-serif;
$font-header-text: 'Source Sans Pro',
sans-serif;
$font-section-text: 'Hind',
sans-serif;
$header-img: url('../img/m-h-day.jpg');
$colors: ( text: #000,
block: #C3CBCF,
mark: #14A0C7);
$main-bg-color: #FFFFFF;
$footer-color: #21232E;
$block-bg-color: #21232E;
$button-bg-color: #699900;
$gradient: linear-gradient(to right,
#679708 0%,
#315fcc 100%);