* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.container {
    align-self: center;
    min-width: 50vw;
    border: 3px solid #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.toggle {
    display: none;
}

form {
    width: 80%;
}

input {
    width: 80%;
    background-color: rgb(58, 212, 122);
    border: none;
    margin: 10px 0 20px 0;
    height: 40px;
    padding-left: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.button {
    background-color: rgb(16, 124, 61);
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    width: 100px;
    border: none;
}