body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five,
.row-six {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 400px;
    margin-bottom: 1rem;
}

.row-six {
    margin-bottom: 0;
}

.row-one__left-content,
.row-one__right-content,
.row-two__left-content,
.row-two__right-content,
.row-three__left-content,
.row-three__right-content {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: auto;
}

.row-four__left-content {
    flex-basis: 70%;
    display: flex;
    flex-flow: column nowrap;
}

.row-four__right-content {
    flex-basis: 30%;
}

.row-five__col1,
.row-five__col2,
.row-five__col3 {
    width: calc(100% / 3);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.row-six {
    display: flex;
    flex-direction: column;
}

.row-six__header {
    height: 120px;
    background-color: #22D5D4;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.row-six__body {
    height: 340px;
    background-color: #F4F4F4;
}

.row-six__footer {
    min-height: 160px;
    background-color: #029898;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: 1rem;
}

img {
    max-width: 100%;
}

button {
    color: #fff;
    background-color: #029898;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
    padding: 10px 15px;
    border: none;
}

.row-one__left-content {
    background-color: #76cdd8;
}

.row-one__right-content {
    padding: 2em 0;
    position: relative;
}

.row-one__left-content h1 {
    color: #fff;
    font-size: 4em;
}

.row-one__right-content .right-content__text {
    padding: 0 5.5em;
    font-style: italic;
}

.row-one__right-content .triangle-top-right {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid #76CDD8;
    border-left: 100px solid transparent;
    align-self: flex-end;
    top: 0;
    display: none;
}

.row-one__right-content:hover {
    color: #76cdd8;
}

.row-one__right-content:hover .triangle-top-right {
    display: block;
}

.triangle-top-right .row-two__left-content {
    align-items: flex-start;
    padding: 2em 0;
}

.row-two__left-content {
    position: relative;
}

.row-two__left-content .triangle-top-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid #76CDD8;
    border-right: 100px solid transparent;
    align-self: flex-start;
    top: 0;
    display: none;
}

.left-content__button:hover {
    background-color: rgb(118, 205, 216);
}

.left-content__button:hover~.triangle-top-left {
    display: block;
}

.row-two__left-content h3 {
    color: #76cdd8;
    padding: 0 6rem;
}

.row-two__left-content .left-content__text {
    font-style: italic;
    padding: 0 6rem;
}

.row-two__left-content .left-content__button {
    align-self: flex-end;
    margin-right: 5.5em;
}

.row-two__right-content {
    background-color: #76cdd8;
    position: relative;
}

.row-two__right-content img {
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
}

.row-two__right-content .right-content__text_small {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.75em;
    color: #fff;
}

.row-three__left-content img {
    height: 100%;
}

.row-three__left-content img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.row-three__right-content h3 {
    align-self: flex-start;
    padding: 0 6rem;
    color: #76cdd8;
}

.row-three__right-content .right-content__text {
    padding: 0 6rem;
    font-size: 0.9em;
}

.right-content__text a {
    color: #3088FF;
    text-decoration: none;
}

.row-four__left-content h3 {
    color: #76cdd8;
    padding: 0 4rem;
}

.row-four__left-content .left-content__text {
    padding: 0 4rem;
}

.row-four__left-content .left-content__button {
    align-self: flex-end;
    margin-right: 4rem;
}

.row-four__right-content {
    display: flex;
}

.row-four__right-content img:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.row-five__col2,
.row-five__col3 {
    margin: 2rem;
    border: 1px solid #029898;
}

.row-five__col2:hover,
.row-five__col3:hover {
    box-shadow: 0 0 0 0.2rem#24d4d4;
    margin: 0.25rem 2rem;
}

.row-five__col2:hover .col2__button,
.row-five__col3:hover .col3__button {
    background: #24d4d4;
}

.row-five__col3 .special-offer {
    color: #24d4d4;
    margin: -1.5rem;
    display: none;
}

.row-five__col3:hover .special-offer {
    display: block;
}

.row-five__col3 .special-offer sup {
    color: red;
}

.col2__header,
.col3__header {
    background-color: #029898;
    color: #fff;
    text-align: center;
    width: 100%;
}

.col2__header_small,
.col3__header_small {
    font-size: 0.75rem;
    margin-top: 0;
}

.col2__button,
.col3__button {
    margin: 1.5rem 0;
    width: 65%;
}

.row-six__footer {
    padding: 5rem 2rem 1rem 2rem;
    position: relative;
}

.row-six__header p {
    width: 75%;
    font-size: 1.5rem;
    align-self: center;
}

.row-six__footer p {
    font-size: 0.75rem;
}

.footer__left p:first-child {
    font-size: 1rem;
}

form {
    background-color: #fff;
    position: absolute;
    width: 60%;
    height: 340px;
    padding: 3rem;
    margin-top: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: center;
}

.form__container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.form__left,
.form__right {
    flex-basis: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form__left input,
.form__left select {
    width: 90%;
    box-sizing: border-box;
    height: 3rem;
    margin-bottom: 2rem;
    padding-left: 10px;
}

.form__left input:focus,
.form__left select:focus,
.form__right textarea:focus {
    outline: none;
    border: 1px solid #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form__right {
    align-self: flex-start;
}

.form__right textarea {
    width: 90%;
    height: 200px;
    padding: 10px;
}

.form__button {
    justify-self: center;
}

.form__button:hover {
    background-color: rgb(118, 205, 216);
}