* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.test {
    color: #B7C8D9;
    color: #FFF;
    color: #F3F3F3;
    color: #A4A4A4;
    color: #F0F0F0;
    color: #000;
    color: #343638;
    color: #E8E8E8;
    color: #9E9E9E;
}

body {
    min-width: 900px;
}

.header {
    width: 100%;
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 70px;
    background-image: url('../img/apples.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: flex-start;
}

.header-top .logo p {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.2em;
}

.header-menu {
    width: 370px;
}

.header-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-menu li {
    list-style: none;
    display: inline-block;
    line-height: 1em;
}

.header-menu li a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-transform: capitalize;
}

.header-content {
    color: #fff;
    width: 50%;
    font-weight: lighter;
    margin: 0 auto;
    text-align: center;
    margin-top: 240px;
}

.header-content .header-content-text .header-title {
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 4vw;
    letter-spacing: 0.5vw;
    font-weight: lighter;
    max-width: 100%;
}

.header-content .header-content-text .header-title span {
    font-size: 6vw;
    line-height: 0.7em;
}

.header-title+p {
    margin-top: 16px;
    text-transform: capitalize;
    font-size: 0.95em;
    font-weight: normal;
}

.header-content .header-button {
    margin-top: 170px;
    margin-bottom: 110px;
    color: #fff;
    font-size: 0.9em;
    padding: 15px 85px;
    background-color: #343638;
    border: 2px solid #fff;
    opacity: 0.7;
}

.under-header {
    width: 100%;
    padding: 150px 70px 150px 50px;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.section-container .blocks {
    width: 50%;
}

.section-container .left-side {
    padding-right: 10%;
}

.section-container .right-side {
    font-size: 0.6em;
}

.section-container .blocks p {
    font-size: 1.5em;
}

.section-container .block-2 .small {
    font-size: 1em;
    color: red !important;
}

.section-container .blocks strong {
    font-size: inherit;
}

main {
    width: 100%;
    background-color: #F3F3F3;
}

.main-section {
    padding: 50px 70px 50px 50px;
}

main h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    font-size: 1.5em;
    font-weight: lighter;
}

main h2 strong {
    font-size: 1em;
}

.main-blocks {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    align-items: center;
    width: 100%;
}

.main-blocks img {
    max-width: 100%;
    filter: brightness(85%);
}

.main-blocks .img-block {
    width: 65%;
}

.main-blocks .text-block {
    width: 35%;
    text-align: center;
}

.main-blocks .img-block {
    position: relative;
}

.main-blocks .img-block img {
    min-width: 100%;
}

.block-1 .img-block, .block-3 .img-block {
    margin-right: 20px;
}

.block-2 .img-block, .block-4 .img-block {
    margin-left: 20px;
}

.main-blocks .baige-top {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 5px 10px;
    color: #fff;
    background-color: #343638;
    opacity: 0.75;
    border: 2px solid #fff;
}

.baige-top span {
    color: #fff;
    padding-left: 5px;
}

.main-blocks .baige-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    color:#F3F3F3;
}

.section-block {
    background-color: #fff;
    width: 100%;
    margin-top: 50px;
    padding: 50px 20px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section-block label {
    font-size: 2vw;
    width: 35%;
}

.section-block label strong {
    font-size: 2vw;
}

.section-block .fieldset {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
}

.section-block .fieldset input {
   width: 85%;
   background-color: #f3f3f3;
}

.section-block .fieldset input::placeholder{
    padding-left: 20px;
    color: #000;
 }

.section-block .fieldset button {
    width: 15%;
    background-color: #343638;
    color: #B7C8D9;
    font-size: 0.85em;
    text-align: center;
    border: 0;
}

footer {
    background-color: #fff;
    width: 100%;
    padding: 100px 70px 0px 50px;
}

.top-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-block div {
    color: #A4A4A4;
    padding-bottom: 100px;
}

.white-and-black, .tweet, .contact {
    width: 23.33%;
}

.newsletter {
    width: 30%;
}

.top-block div h4 {
    color: #000;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.05em;
}

.top-block div p {
    font-size: 0.85em;
}

.top-block .contact p {
    white-space: pre-line;
}

.top-block .tweet p {
   font-style: italic;
}

.top-block .tweet .lighter {
    color: #f3f3f3;
    padding-top: 15px;
}

footer .top-block input {
    width: 65%;
    background-color: #f3f3f3;
    height: 30px;
    vertical-align: bottom;
 }
 
 footer .top-block input::placeholder{
     padding-left: 10px;
     color: #000;
     font-size: 0.8vw;
  }
 
footer .top-block button {
     width: 25%;
     background-color: #343638;
     color: #B7C8D9;
     font-size: 0.85vw;
     text-align: center;
     border: none;
     height: 30px;
     vertical-align: bottom;
 }

 .top-block .newsletter p {
     padding-bottom: 10px;
 }

 .bottom-block {
     width: 100%;
     font-size: 1em;
     display: flex;
     flex-direction: row;
     color: #a4a4a4;
     height: 50px;
     justify-content: space-between;
     align-items: center;
 }

 .footer-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.footer-menu li {
    display: inline-block;
    padding-right: 15px;
 }

 .footer-menu li:last-child {
    padding-right: 0px;
 }

 .footer-menu li a {
    text-decoration: none;
    color: #343638;
 }

 hr {
     height: 2px;
     border: 0;
     color: #a4a4a4;
     background-color:#a4a4a4;
 }

