body {
    width: 100%;
    background-color: $bgColor;
    #root {
        text-align: center;
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .hidden {
        display: none;
    }
    #list {
        list-style: none;
        padding: 0;
        width: 100%;
        li {
            text-align: left;
            width: 100%;
            border: 1px transparent;
            height: 20px;
            line-height: 20px;
            vertical-align: middle;
            margin-bottom: 5px;
        }
    }
    #remove,
    #like {
        float: right;
    }
    #like {
        margin: 0 10px;
    }
    #alertMessage {
        width: 25%;
        background-color: $msgBgColor;
        color: $msColor;
        text-align: center;
        height: 100px;
        line-height: 100px;
        vertical-align: middle;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    #list li span {
        width: 100px;
    }
    #toMain {
        width: 80px;
        height: 30px;
        border-radius: 5px;
    }
}