html {
  font-size: $font-size;
  font-family: $font-family;
}

body {
  margin: 0;
  width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}

h1 {
  margin: auto;
  text-align: center;
  max-width: 90vw;
}

img {
  width: 25%;
  height: 200px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

#field {
  width: 100vw;
  height: 300px;
  background-image: url('/src/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
