/* Write your styles here */

#main {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.calc-container {
    width: 40%;
    min-height: 200px;
    border: 2px solid black;
    box-shadow: 9px -9px 16px -1px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    background-color: rgb(87, 86, 114);
    padding: 20px;
}

.calc {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.calc__screen {
    height: 30px;
}

.calc__screen_input {
    box-sizing: border-box;
    height: inherit;
    width: 100%;
    box-shadow: 5px 4px 3px -3px rgba(0, 0, 0, 1) inset;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 1.25rem;
}

.calc__buttons {
    width: 100%;
    margin-top: 5vh;
    height: 40vh;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

td {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    border: 2px solid rgb(184, 189, 194);
}

td[id] {
    background-color: rgb(184, 189, 194);
    box-shadow: 0px 0px 0px 3px rgba(87, 86, 114, 1);
}

#result-container {
    border: 1px solid rgb(167, 162, 162);
    width: 40%;
    height: 300px;
    overflow: auto;
}

#result-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 30px;
    vertical-align: middle;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
}

.circle-clicked {
    background-color: red;
}

#resultField {
    height: 30px;
    width: 70%;
}

#cross:hover line {
    stroke: red;
}