body {
    width: 100%;
}

#root {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden {
    display: none;
}

#list {
    list-style: none;
    padding: 0;
    width: 100%;
}

#list li {
    text-align: left;
    width: 100%;
    border: 1px transparent;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    margin-bottom: 5px;
}

#remove,
#like {
    float: right;
}

#like {
    margin: 0 10px;
}

#alertMessage {
    width: 25%;
    background-color: #c7c6c6;
    color: #fff;
    text-align: center;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    left: 5px;
}

.liked {
    display: none;
}

#list li span {
    width: 100px;
    border: 1px solid black;
}