/* write your styles here */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.searchTop {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.searchTop,
.queryBy {
    min-width: 70%;
    align-self: flex-start;
    font-weight: bold;
}

.searchTop .radio {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
}

.searchTop .radio input {
    margin-right: 5px;
    background-color: black;
}

.no-item-text {
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}

table {
    width: 80%;
    margin: 15px auto;
    text-align: center;
}

table th {
    background-color: #44A04C;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

tr,
td {
    height: 50px;
}

tbody tr:nth-child(even) {
    background: #CBCBCA;
}

tbody tr td:last-child {
    background-repeat: no-repeat;
    background-position: center;
}