/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 16px;
    letter-spacing: -1px;
    position: relative;
}

.fixed {
    fill: #fff;
    position: fixed;
    width: 10vmax;
    height: 10vmax;
    text-align: center;
    border-radius: 50%;
    padding: 20px;
    background-color: #0078aa;
    top: 85vh;
    right: 5vw;
}

.fixed:hover {
    fill: #0078aa;
    background-color: #fff;
    border: 2px solid #0078aa;
}

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

header nav ul li a {
    font-family: inherit;
    text-decoration: none;
    color: #363636;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}

header nav ul li a:hover {
    color: #0078aa;
}

h2 {
    color: #000;
    font-size: 2.5em;
    text-align: center;
}

.under-text {
    text-transform: uppercase;
    padding: 10px 0 30px 0;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}

h4 {
    font-size: 1.25em;
    padding-top: 20px;
}

h4 span {
    color: #0078aa;
    font-size: 0.8em;
    padding-right: 10px;
}

.main-banner {
    margin-top: 10vh;
}

.main-banner-icons div svg {
    max-width: 100%;
    height: auto;
}

.main-banner-icons div:hover {
    background-color: #fff;
    border: 2px solid #0078aa;
    fill: #0078aa;
}

.about .about-img img {
    max-width: 100%;
}

.about-text-care {
    color: #0078aa;
}

.about-text-blocks p {
    font-weight: 500;
    font-size: 1.1em;
    color: #363636;
    padding: 10px 0;
}

.help {
    width: 100%;
    background-image: url('../img/services_bg.jpg');
    text-align: center;
    padding: 30px 0;
}

.help .container .blocks {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    text-align: left;
    margin-bottom: 30px;
}

.help .container .blocks h4 {
    padding-bottom: 15px;
}

.help .container .blocks p {
    font-size: 1.1em;
    font-weight: 400;
    color: #363636;
}

.help .container .blocks div {
    width: 40%;
    transform: scale(1.1);
    margin-left: 10px;
}

.help .container .blocks div img {
    max-width: 100%;
}

.offers {
    padding: 40px 0;
    width: 100%;
}

.offers .container {
    width: 90%;
    margin: 0 auto;
}

.offers .container .offers-block {
    color: #0078aa;
    text-align: center;
    padding: 40px 0 30px 0;
    margin-bottom: 10px;
}

.offers .container .offers-block:last-child {
    margin-bottom: 0;
}

.offers .container .offers-block:nth-child(odd) {
    background-color: #47C9E5;
    color: #fff;
}

.offers .container .offers-block:nth-child(even) {
    background-color: #fff;
    color: #0078aa;
    border: 2px solid #0078aa;
}

.offers .offer-text {
    padding-top: 0;
    font-size: 1.25em;
}

.offers-block p {
    margin-bottom: 30px;
    letter-spacing: normal;
}

.offer-title {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 20px;
}

.offer-price {
    line-height: 1em;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 10px;
}

.offer-amount {
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: normal;
    margin-bottom: 30px;
}

.offer-button {
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    font-size: 1.25em;
    font-weight: bold;
    color: #0078aa;
    background-color: #fff;
    border: 2px solid #0078aa;
}

.offer-button:hover {
    background-color: #0078aa;
    color: #fff;
}

.contact {
    width: 100%;
}

.contact h2 {
    width: 70%;
}

.contact form {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #e3e3e3;
    padding: 20px 0 5px 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    color: #363636;
    letter-spacing: -1px;
}

.contact form input[type="date"] {
    font-style: initial;
    border: none;
}

.contact form button {
    color: #fff;
    background-color: #0078aa;
    border-color: #0078aa;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: normal;
    margin: 20px 0;
}

.contact form button:hover {
    color: #0078aa;
    background-color: #fff;
}

footer {
    width: 100%;
    letter-spacing: normal;
    background-color: #363636;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}


/* ----------------------mobile version res<768px --------------------------------- */

@media screen and (max-width: 768px) {
    header {
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        min-height: 10vmax;
    }
    header a {
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    header nav {
        width: 90%;
        margin: 0 auto;
    }
    .main-banner {
        width: 100%;
        background-image: url('../img/header_bg.jpg');
        background-size: 275%;
        background-repeat: no-repeat;
        background-position: 27% center;
        margin-top: 10vmax;
        padding-top: 100px;
    }
    .main-banner h1 {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 3em;
    }
    .main-banner p {
        margin: 0 auto;
        text-align: center;
        font-size: 1.25rem;
        color: #a4a4a4;
        padding: 20px 0;
        width: 90%;
        text-indent: 2rem;
    }
    .main-banner-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .main-banner-icons div {
        width: 10vmax;
        height: 10vmax;
        text-align: center;
        border-radius: 50%;
        padding: 12px;
        background-color: #0078aa;
        fill: #fff;
    }
    .about {
        padding-bottom: 40px;
        padding-top: 20px;
    }
    .about-text-blocks {
        text-align: center;
    }
    .about .about-img {
        padding: 20px 0;
    }
    .help .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .help .container .blocks {
        width: 100%;
    }
    .contact .contact-img {
        display: none;
    }
    .contact h2 {
        margin: 0 auto;
    }
}


/* ---------------media for tablets 768 > res < 1200px --------------------------- */

@media screen and (min-width: 768px) {
    header {
        background-color: #fff;
        text-align: center;
        margin: 0 auto;
        min-height: 10vh;
        padding: 20px 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header a {
        display: block;
    }
    header nav {
        width: 60%;
    }
    .main-banner {
        width: 100%;
        background-image: url('../img/header_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 center;
        margin-top: 10vh;
        padding-top: 100px;
    }
    .main-banner h1 {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        font-size: 2em;
    }
    .main-banner p {
        margin-left: 5%;
        text-align: left;
        font-size: 1em;
        color: #a4a4a4;
        padding: 20px 0;
        width: 50%;
    }
    .main-banner-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        padding-bottom: 100px;
        margin-left: 5%;
    }
    .main-banner-icons div {
        width: 5vmax;
        height: 5vmax;
        text-align: center;
        border-radius: 50%;
        padding: 8px;
        background-color: #0078aa;
        fill: #fff;
    }
    .about {
        padding-bottom: 40px;
        padding-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .about h2,
    .about p {
        text-align: left;
    }
    .about .about-img,
    .about .about-text {
        width: 50%;
    }
    .about .about-text {
        padding-left: 10px;
    }
    .about .about-img {
        padding: 20px 0;
        align-self: center;
    }
    .help .container {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .help .container .blocks {
        width: 32%;
    }
    .offers {
        background-image: url('../img/pricing_bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .offers .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .offers .container .offers-block {
        width: 33.33%;
        margin-bottom: 0;
    }
    .offers .container .block-2 {
        transform: scaleY(1.05);
    }
    .contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contact .contact-img {
        display: block;
        width: 50%;
        background-image: url('../img/contact_image.jpg');
        background-size: cover;
        background-position: 20% center;
    }
    .contact .contact-form {
        width: 50%;
        padding-left: 20px;
    }
    .contact h2,
    .contact p {
        text-align: left;
    }
    .contact form {
        width: 90%;
        margin: 0 auto;
    }
    .contact form button {
        align-self: flex-start;
    }
    .fixed {
        width: 8vmax;
        height: 8vmax;
        top: 85vh;
        padding: 15px;
    }
}


/* --------------------for DeskTops min-width: 1280px */

@media screen and (min-width: 1280px) {
    header {
        height: 10vh;
        padding-left: 10%;
        padding-right: 10%;
    }
    header nav {
        width: 40%;
    }
    .main-banner {
        margin-top: 10vh;
    }
    .main-banner h1 {
        margin-left: 10%;
    }
    .main-banner p {
        margin-left: 10%;
        width: 30%;
    }
    .main-banner .main-banner-icons {
        margin-left: 10%;
    }
    .main-banner .main-banner-icons div {
        padding: 15px;
    }
    .about .about-text {
        width: 35%;
    }
    .help .container {
        width: 80%;
    }
    .offers .container {
        width: 80%;
    }
    .contact .contact-form {
        width: 35%;
    }
    .contact form button {
        padding: 15px 30px;
        margin: 20px 0 100px 0;
    }
    .fixed {
        width: 5vmax;
        height: 5vmax;
        top: 85vh;
        padding: 15px;
    }
}