@media print {
    .tm-sidebar {
        display: none;
    }
    .tm-banner {
        border: none !important;
    }
    .tm-banner-inner {
        padding: 50px 0;
    }
    .flex-2-col {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .flex-2-col div:last-child {
        width: 60%;
        align-self: center;
    }
    .flex-item .tm-section-title {
        color: #1D5CFF;
    }
    .tm-team-description-container {
        margin-top: 0;
        padding-top: 0;
    }
    .tm-team-description-container p {
        text-indent: 30px;
    }
    .tm-team-description-container p::first-letter {
        color: #5395B8;
        font-size: 2em;
    }
    .tm-team-description-container p:nth-child(2) {
        font-style: italic;
    }
    div#about,
    section.heading,
    section.blocks,
    section#ideas,
    section::before,
    section.tm-content-box {
        display: none !important;
    }
}

.tm-main-nav li:hover {
    background-color: #f5f5f5;
}

div#about li.box.box-bg:hover {
    background: #87CEFA;
}

div#about li.box.box-bg h2:hover {
    color: #fff;
    font-weight: bold;
}

.tm-team-description-container p {
    text-indent: 30px;
    line-height: 2em;
}

p::first-letter {
    color: #87CEFA;
    font-size: 30px;
}

.tm-sidebar,
.tm-banner,
.tm-content-box,
section.blocks {
    box-shadow: 0 0 10px #000;
}

.tm-banner {
    padding: 0;
    border: 30px solid #f5f5f5;
}

.flex-2-col {
    display: flex;
    flex-direction: row;
}

.flex-2-col div:first-child {
    align-self: center
}

section div#about {
    box-shadow: none;
    box-shadow: 0px 10px 10px -10px #000 inset;
    background-color: #f5f5f5;
}

section div#about ul {
    width: 90%;
    margin: 5px auto;
    box-shadow: 0 0 10px #000;
}

section::before {
    content: "";
    border-top: 20px solid #87CEFA;
    border-bottom: 20px solid transparent;
    border-right: 125px solid transparent;
    border-left: 125px solid #87CEFA;
    width: 0;
    height: 0;
    display: block;
}

div.carousel-inner h2.tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
}

h2+p {
    font-style: italic;
}

.tm-content-box ol li a {
    color: #000;
}

.heading.tm-content-box ol li:first-child::after,
.heading.tm-content-box ol li:nth-child(3)::after {
    content: "New";
    color: red;
    vertical-align: super;
    font-size: 0.75em;
}

.tm-content-box ol li a:hover {
    text-decoration-line: underline;
    text-decoration-style: double;
    color: #87CEFA;
}

.tm-content-box ol li a:visited {
    text-decoration: underline;
}

.gallery-container .box-work {
    padding: 10px;
}

.gallery-container .box-work p::first-letter {
    color: #000;
}

ul.gallery-container li:nth-child(even) {
    background-color: #f5f5f5;
}

.contact-form .mandatory-field::after {
    content: "*";
    color: red;
}

.contact-form .submit-btn {
    float: right;
    border-radius: 0;
    background-color: #fff;
    color: #87CEFA;
    border: 1px solid #87CEFA;
    padding: .5em 2em;
}

.contact-form .submit-btn:hover {
    background-color: #87CEFA;
    color: #fff;
}

#contact.padding-medium {
    position: relative;
}

#ideas+section::before {
    display: none;
}

#contact.padding-medium::before {
    content: "";
    border-top: 20px solid #87CEFA;
    border-bottom: 20px solid transparent;
    border-right: 125px solid transparent;
    border-left: 125px solid #87CEFA;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 0px;
    left: -20px;
}