/*Your code goes here*/


/* 
    custom styles is allowed only for colors, fonts 
    black-color: #111;
    grey-color: #525252;
    white-color: white;
    coral-color: coral;
    light-color: lightcoral;

    font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
}

.white-color {
    color: white
}

.white-bg {
    background-color: white
}

.black-color {
    color: #111;
}

.black-bg {
    background-color: #111;
}

.grey-color {
    color: #525252;
}

.grey-bg {
    background-color: #525252;
}

.coral-color {
    color: coral;
}

.coral-bg {
    background-color: coral;
}

.coral-light-color {
    color: lightcoral;
}

.coral-light-bg {
    background-color: lightcoral;
}

.fs2 {
    font-size: 2rem;
}

.fs3 {
    font-size: 3rem;
}

.fw-n {
    font-weight: normal;
}

.fw-b {
    font-weight: bold;
}