* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #FFFFFF; }

.header .header-wrap .landing-logo, .footer .footer-wrap .footer_logo {
  color: #000;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px; }
  .header .header-wrap .landing-logo img, .footer .footer-wrap .footer_logo img {
    width: 30px; }
  .header .header-wrap .landing-logo p, .footer .footer-wrap .footer_logo p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    line-height: 1em; }
  .header .header-wrap .landing-logo span, .footer .footer-wrap .footer_logo span {
    display: block;
    font-weight: normal;
    font-size: 0.5em;
    margin-left: 5px; }

.header {
  width: 100%;
  background: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-size: 100% 550px;
  font-family: "Hind", sans-serif;
  color: #000;
  padding-bottom: 125px;
  border-radius: 0px 0px 450px 0px / 0px 0px 220px 0px; }
  .header .header-wrap {
    width: 81%;
    margin: 0 auto; }
    .header .header-wrap .header_heading, .header .header-wrap .header_text {
      margin-bottom: 35px; }
    .header .header-wrap .header_heading {
      font-size: 3em;
      font-weight: bold;
      width: 40%;
      line-height: 1em;
      position: relative; }
    .header .header-wrap .header_heading::after {
      position: absolute;
      display: block;
      content: "awesome";
      background-color: #14A0C7;
      bottom: 0; }
    .header .header-wrap .header_text {
      font-family: "Source Sans Pro", sans-serif;
      white-space: pre-line;
      line-height: 1.5em;
      font-size: 0.75em;
      font-weight: lighter; }
    .header .header-wrap .header_button {
      background-color: #699900;
      padding: 10px 30px;
      color: #fff;
      border: transparent;
      font-size: 0.75em;
      border-radius: 2px; }
    .header .header-wrap .header_button + a {
      text-decoration: underline;
      color: #fff;
      font-size: 0.88em;
      margin-left: 105px; }

.section {
  background-color: #FFFFFF;
  width: 58%;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  position: relative; }
  .section .section_text {
    margin: 22px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    color: #000;
    position: relative; }
  .section .section_text::after {
    position: absolute;
    content: "adventure";
    background-color: #14A0C7;
    bottom: 0;
    right: 8.05em; }
  .section .section_card_wrap .section_card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 3px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #21232E;
    color: #C3CBCF; }
    .section .section_card_wrap .section_card .section_card_img {
      border-radius: 3px;
      width: 40%; }
    .section .section_card_wrap .section_card .section_card_right_container {
      color: #C3CBCF;
      width: 60%;
      margin: 0 auto; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        text-align: center;
        font-size: 1.05em;
        font-weight: bold;
        color: #fff;
        margin: 30px 0; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
        font-family: "Hind", sans-serif;
        padding: 0 55px;
        font-size: 0.72em; }
      .section .section_card_wrap .section_card .section_card_right_container .section_link {
        font-family: "Source Sans Pro", sans-serif;
        margin-left: 42%;
        font-size: 0.7em;
        color: #C3CBCF; }
  .section .section_card:last-child {
    margin-bottom: 160px; }
  .section .section_banner {
    position: absolute;
    width: 109%;
    background: linear-gradient(to right, #679708 0%, #315fcc 100%);
    border-radius: 3px;
    margin: -5%;
    bottom: -170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%; }
    .section .section_banner .section_banner_text_wrap {
      padding: 20px 0; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        color: #000;
        font-size: 1.35em;
        font-weight: bold;
        position: relative; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading::after {
        position: absolute;
        content: "start";
        background-color: #14A0C7;
        bottom: 0;
        right: 7.5em; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        color: #C3CBCF;
        font-size: 0.75em;
        font-weight: normal; }
    .section .section_banner .section_banner_button {
      background-color: #699900;
      padding: 10px 30px;
      color: #fff;
      border: transparent;
      font-size: 0.75em;
      border-radius: 2px; }

.footer {
  background-color: #21232E;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 40px; }
  .footer .footer-wrap {
    margin: 0 auto;
    width: 81%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Hind", sans-serif;
    color: #C3CBCF;
    font-size: 0.72em; }
    .footer .footer-wrap .footer_logo {
      color: #C3CBCF;
      font-size: 1.5em;
      padding-top: 0;
      margin-bottom: 0;
      align-self: flex-end; }
    .footer .footer-wrap .footer_text {
      width: 20%;
      font-size: 0.75em; }
    .footer .footer-wrap .footer-cr {
      padding-bottom: 10px;
      padding-right: 10px; }
