:root {
    --primary-color: #f2c744;
    --light: #f4f6f9;
    --dark: #000;
    --primary-font: 'Shadows Into Light', cursive;
    --secondary-font: 'Dancing Script', cursive;
}

div[class*="img"] img {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 150px 5fr 150px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "header header" "main aside" "footer footer";
    grid-gap: 0.5em;
}

main {
    grid-area: main;
    padding: 2rem;
    display: grid;
    grid-gap: 0.5rem;
}

header,
main,
aside,
footer {
    background-color: var(--light);
    box-shadow: 4px 5px 9px 0px var(--dark);
}

header {
    grid-area: header;
    text-align: center;
}

@media screen and (max-width: 480px) {
    body {
        grid-template-areas: "header" "aside" "main" "footer";
        grid-template-rows: 150px 1fr 5fr 150px;
        grid-template-columns: 1fr;
    }
    main {
        padding: 0;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, 1fr);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    main {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(100px, 1fr);
    }
}

@media screen and (min-width: 769px) {
    main {
        grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4];
        grid-template-rows: [r1] 2fr [r2] 1fr [r3] 2fr [r4] 1fr [r5] 1fr [r6] 1fr [r7] 1fr [r8] 2fr [r9] 1fr [r10];
    }
    .img1 {
        grid-area: img1;
        grid-row: r1/r2;
        grid-column: c1/c2;
    }
    .img2 {
        grid-area: img2;
        grid-row: r1/r3;
        grid-column: c2/c3;
    }
    .img3 {
        grid-area: img3;
        grid-row: r1/r4;
        grid-column: c3/c4;
    }
    .img4 {
        grid-area: img4;
        grid-row: r2/r5;
        grid-column: c1/c2;
    }
    .img5 {
        grid-area: img5;
        grid-row: r3/r4;
        grid-column: c2/c3;
    }
    .img6 {
        grid-area: img6;
        grid-row: r5/r8;
        grid-column: c1/c2;
    }
    .img7 {
        grid-area: img7;
        grid-row: r4/r7;
        grid-column: c2/c3;
    }
    .img8 {
        grid-area: img8;
        grid-row: r4/r6;
        grid-column: c3/c4;
    }
    .img9 {
        grid-area: img9;
        grid-row: r8/r9;
        grid-column: c1/c2;
    }
    .img10 {
        grid-area: img10;
        grid-row: r7/r10;
        grid-column: c2/c3;
    }
    .img11 {
        grid-area: img11;
        grid-row: r6/r10;
        grid-column: c3/c4;
    }
}

aside {
    grid-area: aside;
    text-align: center;
}

footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

header img {
    width: 100px;
    height: auto;
}

header h1 {
    font-family: var(--secondary-font);
    margin: 0;
}

header p,
footer p {
    font-family: var(--primary-font);
    margin: 0;
}

aside .container {
    position: sticky;
    top: 0;
}

aside div.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2rem auto;
    position: relative;
}

aside div.avatar img {
    position: absolute;
    width: 240px;
    height: 150px;
    left: -45px;
    bottom: 0;
}

aside h2 {
    font-family: var(--secondary-font);
    margin: 0;
}

aside h6 {
    font-family: var(--primary-font);
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

aside p {
    font-family: var(--primary-font);
}

.container .social {
    padding-bottom: 1rem;
}

footer img {
    width: 60px;
    height: auto;
    margin: 1em auto;
}

footer h5 {
    font-family: var(--secondary-font);
}

footer h6 {
    font-family: var(--primary-font);
    font-weight: normal;
}

footer p {
    font-family: var(--primary-font);
}

footer h5,
footer h6,
footer p {
    margin: 0;
}